[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad
[submodule "external/miniz"]
	path = external/miniz
	url = https://github.com/richgel999/miniz
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt